.v-header{
    line-height: 1.5;
    /* color: #333; */
    height: 100vh;
    display: flex;
    align-items: center;
    color:#fff;
}

.container-home{
    /* max-width:960px; */
    max-width:1200px;
    padding-left:.3rem;
    padding-right:.3rem;
    margin:auto;
    text-align: center;
    font-family: cursive;
}

.fullscreen-video-wrap{
    position:absolute;
    top:6rem;
    left:0;
    width:100vw;
    height:103vh;
    overflow: hidden;
}

.fullscreen-video-wrap video{
    min-width:100%;
    min-height:100%;
}

.header-overlay{
    height:103vh;
    position: absolute;
    top:6rem;
    left:0;
    width:100vw;
    background: #225470;
    z-index: inherit 1;
    opacity: 0.65;
}

.header-content{
    z-index:2;
}

.header-content p{
    font-size:30px;
    margin-bottom:0;
    text-align: center;
}

.header-content .border{
    width:74vw;
    margin-top:3rem;
    height:3rem;
    border-radius: 10px;
    padding:1rem
}

.header-content .button{
    background:#34b3a0;
    color:#fff;
    font-size:1.2rem;
    padding:1rem 2rem;
    border-radius:.5rem;
    border:none;
    margin-left:5rem;
    margin-top:2rem;
    width:15rem;
    font-family: cursive;
}

