.login-container{
    text-align: center;
    margin-top: 5rem;
    height: 58vh;
}

.about-container{
    text-align: center;
    margin-top: 5rem;
    height: 58vh;
}

.register-container{
    text-align: center;
    margin-top: 5rem;
    height: 58vh;
}

.contact-container{
    text-align: center;
    margin-top: 5rem;
    height: 58vh;
}